<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MYSQLiteUWPAppRTM' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>bfd5d062-be43-471a-83d0-b59214c77b5f</InstrumentationKey>
</ApplicationInsights>