<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'wrauwpRTM' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>657a9f84-5cc7-408d-8202-310ab0ecd302</InstrumentationKey>
</ApplicationInsights>